[2015-07-21 08:04] delta98 opened #7 "Support Material Design Icons using Ionic icon classes"

[2015-07-21 08:06] delta98 opened #9 "Support Header buttons with text and Icons"

[2015-07-21 08:07] delta98 opened #10 "Implement Menu with ion-side-menu directive using Material Design animations"

[2015-07-21 09:39] #9 closed

[2015-07-21 10:16] delta98 opened #11 "Implement Sub-headers"
Using Material Design guidelines implement Ionic styles for sub-headers including updates to the meta classes `has-subheader`, `nav-bar-has-subheader` and `has-header.has-subheader.has-tabs-top `

[2015-07-21 10:41] delta98 opened #12 "Implement Tabs"
Using Material Design guidelines implement tab style and bar animations.

Maintain Ionic tab directive logic, structure and positioning styles.

[2015-07-21 10:49] delta98 opened #13 "Implement Content styles and typography"
Typography and content padding should be inline with Material Design guidelines

[2015-07-21 10:50] delta98 opened #14 "Implement List styles"
Ensure list styles are inline with Material Design guidelines, including list separators/dividers

[2015-07-21 10:51] delta98 opened #15 "Implement Ionic Cards"

[2015-07-21 10:51] #15 closed

[2015-07-21 10:53] delta98 opened #16 "Implement Form elements"
Ensure all form elements implement Material Design guidelines, maintain Ionic utilities for layout to maintain iOS support

[2015-07-21 10:53] delta98 opened #17 "Implement Toggle"

[2015-07-21 10:54] delta98 opened #18 "Implement Checkbox and Radio buttons"

[2015-07-21 10:54] delta98 opened #19 "Implement Radio buttons"

[2015-07-21 10:55] delta98 opened #20 "Implement range element"
Maintain Ionic directive functionality, but implement the superficial Material Design guidelines

[2015-07-21 10:55] delta98 opened #21 "Implement Select boxes"

[2015-07-21 15:09] delta98 commented on #7
Added Material icon with iconic format for plus circle outline `ion-plus-circle-outline`

[2015-07-21 15:15] delta98 commented on #7
Added Material icon with iconic format for minus circle outline `ion-minus-circle-outline`

[2015-07-21 15:23] delta98 commented on #7
Added Material icon with iconic format for help outlined `ion-help-outline`

[2015-07-21 15:32] delta98 commented on #7
Added Material icon with iconic format for alert outlined `ion-alert-outline`

[2015-07-21 16:05] delta98 opened #22 "fix button-clear class for bar-header"
`button-clear` class used for buttons within a `bar-header` don't carry forward `button` styles for Material `bar-header`

[2015-07-22 12:46] delta98 commented on #11
added additional `has-` class for `has-expanded-header` this increased `ion-content` top position to account for headers with `bar-header--expanded`

[2015-07-22 12:57] #11 closed

[2015-07-23 08:39] delta98 opened #25 "status-bar should use 700 tint of header colour"

[2015-07-23 08:41] #12 closed

[2015-07-23 08:44] #22 closed

[2015-07-23 08:44] delta98 opened #27 "Implement Material Design navigation"

[2015-07-24 16:09] #27 closed

[2015-07-25 12:48] delta98 opened #29 "Implement modals"

[2015-07-25 12:49] delta98 opened #30 "Implement dialogs using popup"
http://ionicframework.com/docs/api/service/$ionicPopup/

[2015-07-27 20:43] dciccale opened #31 "Handle gulp-sass compilation errors"
log them to the console

[2015-07-27 20:53] dciccale opened #32 "Error compiling sass"
[code]

It looks like an error in material-design-lite, it is not even clear what's going on. This is the raw output from sass.

however, i've run `sass bower_components/material-design-lite/src/material-design-lite.scss` and it works.

[2015-07-28 05:53] delta98 commented on #32
Have you followed the developer install steps?

'npm install' and 'bower install' ?

What env are you building on?

[2015-07-28 05:54] sriteja09 opened #34 "Issue with google fonts"
Hi,
I am trying to include google fonts in the material design . Unable to apply font to the text . Please suggest me.

[2015-07-28 05:55] delta98 commented on #31
Thanks taking the time to create an issue and test the project. I will look into ways to make this more verbose and handle exceptions.

As I get closer to the release date these will be the tasks I'll need to complete. So it's great to get feedback on the issues you've encountered.

[2015-07-28 07:38] dciccale commented on #31
fixed in #33

[2015-07-28 07:38] #31 closed

[2015-07-28 07:52] delta98 commented on #32
@dciccale can you confirm whether the file `bower_components/material-design-lite/src/_variables.scss` exists in your bower directory, that looks like an issue with the material design lite dependency.

[2015-07-28 07:59] dciccale commented on #32
i have all deps. i am just running `gulp sass` without any special env.

yeah, the file exists, and as i say, i can compile material-design-lite alone using `sass` bin directly like this from the root directory of this repo `sass bower_components/material-design-lite/src/material-design-lite.scss` and it compiles perfect.

something is wrong when doing it through `gulp sass`

i have sass 3.4.13.

[2015-07-28 08:00] delta98 commented on #34
Take a look at any of the demos, currently they have to manually include the fonts. Add the following to your `<head>`.

`    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://c

[2015-07-28 08:04] dciccale commented on #32
i mean compiling  your files without gulp.

if i do it i get

[code]

[2015-07-28 08:11] dciccale opened #35 "Typo in @extend"
i think that there is a typo in `scss/list/_card.scss`

[code]

should be

[code]

[2015-07-28 08:14] #35 closed

[2015-07-28 08:18] dciccale commented on #32
if i compile only the `scss/ionic.material-design-lite.scss` file it works after fixing some things.

i think that the correct way should compile 1 entry point file like that one, right? not a glob pattern like scss/**/*.scss.

this works
[code]

[2015-07-28 08:20] dciccale opened #37 "Use gulp-load-plugins to decrease LOC in gulpfile.js"

[2015-07-28 08:20] dciccale commented on #37
is a feature

[2015-07-28 08:21] delta98 commented on #37
Can you provide more information as to how it should be implemented and what the goal of this feature would be?

[2015-07-28 08:22] dciccale commented on #37
this is what it looks like https://github.com/delta98/ionic-material-design-lite/pull/38

[2015-07-28 08:34] delta98 commented on #32
Yeah so you should compile the entry file `scss/ionic.material-design-lite.scss`. It's very strange as to why you are experiencing issues, let me look at my env and confirm a couple things and I will get back to you.

[2015-07-28 08:46] delta98 commented on #32
Ok, So my sass version is also `Sass 3.4.14`.

I think I've found the cause of the problem, there are import/extend errors due to a missing sass file not being imported. I'll issue a PR if you could try that and confirm it's resolved the issue for you.

The `sass` task in gulp is allowing it to fail silently.

[2015-07-28 08:50] dciccale commented on #32
ok i wait for that PR to test it, thanks

[2015-07-28 08:54] delta98 commented on #32
Here is the PR #39 lets see if that resolves the issue. Try running the gulp task first. Then `sass scss/ionic.material-design-lite.scss`

[2015-07-28 08:56] #37 closed

[2015-07-28 09:30] #32 closed

[2015-07-28 15:24] delta98 commented on #34
Closing as #41 resolves the requirement for externally loading Google font for Roboto

[2015-07-28 15:24] #34 closed

[2015-07-28 15:29] sriteja09 commented on #34
I want to include my fonts

On Tue, Jul 28, 2015, 1:30 PM Jason Brown <notifications@github.com> wrote:

[2015-07-29 08:03] delta98 commented on #34
Are you trying to override any of the existing font styles? If so that goes against Material Design and the purpose of the project.

[2015-07-29 20:43] mhartington opened #42 "Roboto Fonts"
Including the Roboto Font files isn't really necessary. The chromeview on android gives you access to the system font, similar to how iOS has `-apple-system-font`

Instead of included the various font files, you could simplify and use this instead

[code]

Then just use the various weights (100,200,300,500) where you need it.

Reference:
https://gist.github.com/dpogue/cf8561b0cfb9d40be95d#chrome-o

[2015-07-29 21:07] delta98 commented on #42
Thanks @mhartington

There's an option with the project to override default iOS styles in the config for those who want to use it across both platforms. iOS doesn't include the font as part of the platform.

Do you have any suggestions as to how to include it in this scenario?

[2015-07-29 21:55] mhartington commented on #42
You should still use the system font on iOS and not use Roboto. Even google apps on ios still use helvetica. What we're doing with an up-coming release of ionic is using the follow font-family property.

[code]

[2015-07-29 22:16] delta98 commented on #42
OK, great. I'll update the typography and remove the fonts. I was worried about increasing the size of the project by including them, so thanks for the advice!

[2015-07-29 22:16] delta98 commented on #13
Update typography to use system fonts and remove font directory and font files as per suggestion in #41

[2015-07-29 22:55] mhartington commented on #42
Happy to help. Liking what I see so far.

Mike Hartington

[2015-07-30 01:08] jose909 opened #43 "bower ENOTFOUND Package ionic-material-design-lite not found"
C:\Users\carlos\Desktop\trabajo_ionic\ionic-material-design>bower install ionic-ma
terial-design-lite
bower cached        git://github.com/driftyco/ionic-bower.git#1.0.1
bower validate      1.0.1 against git://github.com/driftyco/ionic-bower.git#1.0.
1
bower ENOTFOUND     Package ionic-material-design-lite not found

[2015-07-30 06:01] delta98 commented on #43
Hi @jose909 thanks for checking out the project. I won't be releasing to bower until 31st Aug when RC-1 is released. Until then it's still in heavy development. There's a note to this effect on the installation instructions.

You can still clone the project and take a look at the demos until then.

[2015-07-30 06:01] #43 closed

[2015-07-30 06:13] obetomuniz commented on #42
Photos, Calendar and Chrome iOS still using Roboto Font at iOS. I really believe that the MD (including MDL) recommends this rule to our projects.

[2015-07-30 07:43] delta98 commented on #42
@obetomuniz do you have a reference to that? Might be worth taking a look at it further?

[2015-07-30 07:49] obetomuniz commented on #42
@delta98 I can send prints from these Apps on my iPhone to our analysis, can be it?

And about recommendation of MD. Here's the link: https://www.google.com/design/spec/style/typography.html

[2015-07-30 08:23] delta98 commented on #42
Yeah I've referenced the guidelines, @mhartington what do you think? I can't find anything that says to use system fonts on iOS over Roboto?

[2015-07-30 14:20] mhartington commented on #42
Same here, no where in the guide lines does it say to use roboto on iOS. These are just guides and not rules, no need to follow them to a T if you ask me. My main concern when I opened the issue was overall files size. But if you're really concerned about making sure you see roboto on there, keep this in mind

![](http://qph.is.quoracdn.net/main-qimg-075917658168d375b3d176080e39988a?convert_to_web

[2015-07-30 14:33] obetomuniz commented on #42
@mhartington @delta98 The print screens are here. I really want encourage us to use Roboto instead -apple-system Font, because if a day Apple resolve change your font, we'll need change it too without motive related with our pattern that is the MDL and the MDL use Roboto.

![image](https://cloud.githubusercontent.com/assets/1680157/8985435/cae4e040-36ad-11e5-9c93-e0765ed3cd18.png)
![image](https:/

[2015-07-30 15:10] mhartington commented on #42
@obetomuniz same thing with android. If Google goes and changes roboto, you'll have an old out of date font.

I'm not arguing if you should follow the guidelines to a T (I don't think you need to, and there are some bad things in there) but I'm making a point that people will notice file size before a font.

The font files alone will increase the app size by 13MB. You can get something close to th

[2015-07-30 16:06] delta98 commented on #42
@mhartington I share the same concerns with file size, originally I hadn't included the fonts as part of the project because of the debt instantly imposed onto the developer without even starting to build out their application.

I have been looking at other options, including having an optional reference to the Google fonts service.

I'm going to have to weigh up the pros and cons, over the commun

[2015-07-30 23:13] rafael-franca opened #45 "Replace ":active" to ".activated""
When use ":active", some effects disappear in Chrome Desktop, like a "box-shadow".

[2015-07-31 06:07] delta98 commented on #45
Thanks @rafael-franca, can you provide further information on which elements and effects? ':active' is still required as '.activated' is applied by 'ui-sref' which may not always be applied.

[2015-08-02 17:37] delta98 commented on #42
I'm going to close this issue, as I've come to the conclusion that the best course of action is to remove the font files for the Roboto family except `woff` and `woff2` as they are supported by both iOS and Android.

Instead of 13MB this will reduce the font directory to a more acceptable ~1MB and as I agree with both @mhartington and @obetomuniz comments, I will provide developers with the option

[2015-08-02 17:37] #42 closed

[2015-08-04 14:56] helmuthva opened #47 "Some guidance of what will be included with RC1 and beyond"
Hi,

as a lot of developers would love to integrate Google Material Design with Ionic and the ionicmaterial.com project does not seem to be the way to go (not connected to original implementation of Google; seems to be dead - no commit's since months) i am currently reviewing your variant.

Can you please give me (and others) some guidance of what you aim to achieve with RC1 and beyond?

Esp.:
- R

[2015-08-04 15:33] delta98 commented on #47
Hi @helmuthva thanks for the really interesting question. The aim for RC1 will be to implement all existing ionic components: Headers, Lists, Dialogs, Navigation, Buttons, Transitions etc. Essentially whatever you see within the Ionic documentation that has a UI will be presented using Material Design.

The aim of the project is primarily to provide a Material Design "look and feel" for Ionic, aut

[2015-08-06 08:24] helmuthva commented on #47
Hi @delta98 thanks for the great response.

We will thus use your project in one of our projects - this is btw a smartphone _and_ tablet app - it would thus be great if you support http://ionicframework.com/docs/api/directive/exposeAsideWhen/ ;-)

Regarding V1 components - support for https://material.angularjs.org/latest/#/demo/material.components.fabSpeedDial would be great as this is a very pow

[2015-08-06 13:28] delta98 commented on #47
Hi @helmuthva exposeAsAside will be released as part of RC1. Fab speed dialer may not be made a feature immediately.

If you are using it on a project, please be aware that there is a wiki that's updated as part of this repo, useful information is included there.

But most importantly there might be some BC coming shortly as I prepare for release.

[2015-08-08 13:06] JobaDiniz commented on #47
I want to start an ionic project using Material Design, however I'm a bit concern about the repositories I've found.
There is the [ionicmaterial](http://ionicmaterial.com/) which last release was May 20 (that's a long time). And there's this one, which is only 1 month old.

I saw that you @delta98 contributed in the [ionicmaterial](http://ionicmaterial.com/) repository. My question is:
Why did you

[2015-08-08 18:20] #14 closed

[2015-08-08 18:46] delta98 commented on #47
@JobaDiniz I completely disagreed with the approach [ionicmaterial](ionicmaterial.com) has taken. It uses custom directives that make the Ionic upgrade path impossible to follow, the material design guidelines aren't followed correctly and in order to correct those issues you would have to start again.

My contribution was very small, I believe it was a couple bug fixes and some assistance on issu

[2015-08-08 18:54] delta98 commented on #45
Closing as the symptoms cannot be replicated and @rafael-franca has not responded.

[2015-08-08 18:54] #45 closed

[2015-08-09 11:22] JobaDiniz commented on #47
Thanks for clarifying.

[2015-08-09 20:50] delta98 opened #49 "Receive "Cannot read property 'classList' of null" error on tabs"
Triggered by the ripple component within MDL, likely cause will be ripple component looking for `span` classes not created within the ionic tab structure.

Ripple effect displays correctly however.

[2015-08-10 09:19] #47 closed

[2015-08-14 18:04] delta98 commented on #30
TODO:

* apply .popup-head--hidden when title text is empty
* style full width action buttons
* ensure content area scrolls for long lists

[2015-08-16 13:10] dot-louis opened #52 "How to change/set colors ?"
With sass you can define variable such as `$positive: #FF0000` to overwrite the default ionic colors.
However it seems you are hardcoding the material color palette in the module.

[2015-08-16 14:19] delta98 commented on #52
The colours have not been hard coded, they have been overridden here `https://github.com/delta98/ionic-material-design-lite/blob/master/scss/_variables.scss`.

This is exactly the same as how you would do it using Ionic's guide http://learn.ionicframework.com/videos/sass/

You can override the colours yourself by updating the variables in your `.scss` file.

[2015-08-16 21:13] dot-louis commented on #52
Thanks for your quick answer! I'll try, and keep this issue updated

[2015-08-19 22:06] dazziola opened #53 "Android build fails after adding using Bower"
I get a:

error when I execute:

    ionic build android

The Android build works fine before adding the library and its dependencies using Bower.

Full stack trace:

 FAILED

[2015-08-20 06:46] delta98 commented on #53
@dazziola if you remove the package from bower and re-run the build does it still gave you the same error?

I'm not too sure as to why the build would fail as its a CSS and JS file that gets included. I'll take a look and see if I can replicate the issue.

If you have any further information that might be relevant that would be appreciated.

[2015-08-20 15:56] #30 closed

[2015-08-21 14:41] jazarja opened #55 "ReferenceError: componentHandler is not defined"
I having problem with ionic material design lite when running on Nexus 5, here is my error message.

Any idea how to solve this?
[code]

[2015-08-21 16:16] jazarja commented on #55
Okay, got it.

We need to put <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script> in the index.html

[2015-08-21 17:37] delta98 commented on #55
@jazarja for reference what had you not included in the index.html and what method of install did you use?

[2015-08-21 21:26] #55 closed

[2015-08-23 03:08] jazarja opened #57 "Why we need .platform-android & .platform-override class on css"
Why we need to have .platform-android & .platform-override class? I thought the primary reason we use ionic to make our life easier by make the design once and can work on all devices but those classes made me to spend more time debugging what makes differences between desktop & android.

Desktop:
![desktop](https://cloud.githubusercontent.com/assets/1103551/9426748/cfac32b6-497e-11e5-8676-ea714f0

[2015-08-23 06:39] delta98 commented on #57
I'm not quite sure I understand your question? You don't need to handle those classes as they are added automatically for you.

.platform-override should only be added if you want iOS and Android to use Material Design.

What was the problem you were trying to debug? If it's toggles, they have not yet been completed. Please look at the issues for features and their status.

You should never have t

[2015-08-23 15:35] caztial commented on #10
nice (y)

[2015-08-24 21:53] robertrafferty opened #61 "Getting started documentation"
Should we start an ionic project an ionic app from the CLI and than bower install ionic-material-design-lite?

Thanks
Robert Rafferty

[2015-08-25 06:06] delta98 commented on #61
Hi @robertrafferty that would be my recommendation. Whilst it's still in development you might also need to include additional scripts until this is provided as a bundle, something I'm working on at the moment.

Please check the installation steps on the read me particularly the notice about pre-release.

Thanks

[2015-08-25 15:48] #61 closed

[2015-08-25 15:48] #57 closed

[2015-08-26 14:38] protasisimone opened #62 "Effects not work"
Hi, I've installed with bower.
I added the css and js file in head and i've tried to create a button but the ripple effect doesn't work, can you suggest me a correct way to do his work?

This is my code in `<ion-nav-bar>`:
[code]

Thanks!

[2015-08-26 16:19] delta98 commented on #62
Looks like you have it setup correctly, are you able to markup a button outside of the `ion-nav-buttons` directive and see if the effects work?

[2015-08-26 20:46] delta98 opened #63 "content view for tabs isn't positioned correctly with icon + text"
Content view top position is too high, needs to be lowered for icon + text

[2015-08-27 08:18] delta98 commented on #53
Closing due to no response.

[2015-08-27 08:18] #53 closed

[2015-08-28 12:48] acamenhas opened #64 "Ion-view style"
I'm trying style my "ion-view" with no success.
For that, i've compile a very simple example to explain better this issue.

P.S. Forgot to mension how can i costumize the header in a ion-view.

![index](https://cloud.githubusercontent.com/assets/14015712/9546533/5621288c-4d8b-11e5-92c4-2f2b36c78066.png)
![app](https://cloud.githubusercontent.com/assets/14015712/9546535/5c49a1ee-4d8b-11e5-8bcc-7bec

[2015-08-29 11:03] delta98 commented on #64
Could you create a code pen? Also you don't need to add any platform classes.

In terms of customising the header, in what way? You can use any of the ionic colour classes.

[2015-08-29 11:08] acamenhas commented on #64
Each html (partial) file represent a page (ion-view). One view i would like to be with an extender header, other a normal header...
Yes i can create a code pen, no problem.

[2015-08-29 14:34] acamenhas commented on #64
I've created a live demo to see this issue:

http://plnkr.co/edit/PayRrwmTvZFEdUswWijm?p=preview

[2015-08-30 15:07] JobaDiniz opened #65 "item-avatar is broken"
![capture](https://cloud.githubusercontent.com/assets/165290/9567849/6d0f36c6-4f0f-11e5-9e84-5cbd5b2d0528.PNG)

Code:

[code]

Although there are `ng-if` there, I removed all dynamic data and added static html and still the list was rendered very wrong.

[2015-08-30 15:17] JobaDiniz opened #66 "Menu button is not vertically centered"
![capture](https://cloud.githubusercontent.com/assets/165290/9567874/730f7d1e-4f10-11e5-9e3f-4092ebc1a851.PNG)

It seems the issue is `display: inherit;` from:
[code]

If I remove `display: inherit;`, then the following rule will be applied:
[code]

Which will fix the issue. But I'm not sure if it will break something else.

[2015-08-31 09:27] protasisimone commented on #62
Thanks for your reply.

I had try outside the `ion-nav-buttons` but doesn't work.

Any ideas?

[2015-08-31 09:44] delta98 commented on #66
Could you provide the markup for the menu button, I'll take a look. If you'd like to create a PR for the `display:inline-block` change I can review it and merge it, if that resolves the issue.

[2015-08-31 09:45] delta98 commented on #65
I'll take a look at this now, I think there might be a class or piece of markup missing. I'll get back to you shortly.

[2015-08-31 14:08] JobaDiniz commented on #66
[code]

It seems that the code is not from your lib, but from `ionic` itself, however it only takes place when I add ionic-material-design css.

I can fix this by overriding `.bar .buttons-left span` rule. Should I make a PR?

[2015-08-31 15:00] delta98 commented on #66
Yeah that would be awesome, I'll review it and hopefully merge it to resolve the issue.

Thanks

[2015-08-31 19:51] #66 closed

[2015-08-31 19:55] delta98 commented on #64
It looks like you aren't including the css file correctly. Has it been installed properly?

[2015-08-31 19:59] #29 closed

[2015-08-31 20:00] #52 closed

[2015-08-31 20:12] acamenhas commented on #64
I think so, but i can double check it.
Do you saw something wrong on the plnkr project?

[2015-09-01 00:17] ronaldaraujo opened #69 "Uncaught TypeError"
Uncaught TypeError: Cannot read property 'style' of null and
Uncaught TypeError: Cannot read property 'classList' of null

The error happens when I click on one of the tabs.

And the list is cut. Any suggestion?

http://i.imgur.com/ncsGcew.png

My index.html

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=devi

[2015-09-01 06:55] delta98 commented on #64
You're using a beta version of Ionic and the MDL CSS isn't being included correctly.

[2015-09-01 06:58] delta98 commented on #69
Hi @ronaldaraujo this is already being tracked #49 its caused by Google's MDL library for tabs. Nothing to worry about, you've implemented tabs correctly, it's a library issue I'm trying to resolve with them.

[2015-09-01 06:58] delta98 commented on #69
Closing as duplicated #49

[2015-09-01 06:58] #69 closed

[2015-09-01 08:50] adyba opened #70 "ui-route problem"
Hi, the theme looks promising but it somehow cripples the Ionic bundled ui-router.
My `<head>` (1st September ionic-material-design-lite#0.5.3) on brand new Ionic tab template looks like this

[code]
The application handles just one complete tab change. Then after it changes only the tab (active state of the tab + header line) but the view template remains the same. Once I comment out all the `ion

[2015-09-01 12:33] delta98 commented on #70
Can you provide your ui-router setup because it MDL doesn't have any interaction with ui-sref or events

[2015-09-01 13:41] adyba commented on #70
Sure, its a mint Ionic app generated by Tab template, so there is no mystery.

[code]

[2015-09-01 14:00] acamenhas commented on #64
Ok i made the alterations that you suggest but it remains the same:
http://plnkr.co/edit/PayRrwmTvZFEdUswWijm?p=preview

Something related to the ui-router?

[2015-09-01 14:34] adyba commented on #64
Well I believe there are two issues. Your Plunk complains about `Angular not defined` coz you are not loading the modules in a right order. Your `index.html` line 12 should go between lines 15 and 16 (after ionic.bundle that introduce Angular to the browser). That was the easy part.
The hard part is that even after resolving all the issues from the console, the app doesn't match the codepen Demo.

[2015-09-01 15:05] acamenhas commented on #70
I've replicated your experiment and i also checked that that happens.
Did you notice also that the styling does not appear?

[2015-09-01 19:04] delta98 commented on #70
I will take a look at this tonight as I've started to build default apps taken from the ionic base templates and adding the required scripts.

I've not actually noticed an issue with tab routing though.

[2015-09-01 20:43] delta98 commented on #70
Taken a look at a straight forward install from the ionic cli (http://ionicframework.com/docs/cli/start.html) the state sticks on tab state change. It's not related to the library.

[2015-09-02 07:47] adyba commented on #70
Jason, would you please share your successful experiment with us (via Plunker, Git or whatever)? This should be something minor like order of libraries in `<head>` or something. Unfortunately as the code is fresh and not yet "talkative" to the console its hard to track the issue. Do you want me to create the sample/repository? We just need something real to discuss, sending statements back and for

[2015-09-02 09:10] delta98 commented on #62
Sorry, it's hard to understand what the problem is. Can you please explain how you have setup your app with the project.

[2015-09-02 09:12] delta98 commented on #70
This is a known issue with ionic caching and *not* this project. Please refer to http://stackoverflow.com/questions/28827928/template-does-not-update-when-using-ui-router-and-ion-tabs

[2015-09-02 09:12] #70 closed

[2015-09-02 09:20] delta98 commented on #64
I will update shortly with a repo that uses an icon start app from the cli. This should provide a better comparison.

[2015-09-02 09:21] delta98 opened #72 "ion-tab .item-active:before not being applied to tab"
`.item-active:before` styles for underline animation are not being applied to tab when created using ionic start cli tabs template.

[2015-09-02 09:22] delta98 commented on #64
There is an issue with the tab underline styles which is being tracked here https://github.com/delta98/ionic-material-design-lite/issues/72

[2015-09-02 09:58] protasisimone commented on #62
Ok, I'm sorry but my english is very bad.

The ripple effect does not work when the button is inserted in `ion-nav-buttons` directive.

I think it's a matter of css.
[code]

This is my `index.html` code.

[2015-09-02 11:55] adyba commented on #70
Nope, the problem was my lost sync during the release period. I have started my trials on August 31st several hours before the release with separated MDL files. On September 1st I updated just your project, deleted the MDL, kept the JS file reference which fired half of the code but obviously not the bundled MDL. Started from scratch, following the updated `README.md` instructions it works just fi

[2015-09-02 12:17] adyba commented on #62
I do believe its not a bug. The ripple effect doesn't work in a standard web preview. You have to emulate an Android device. Jason's CodePen example fires a native like behavior by using extra code that is not part of the git package.

Use my Ionic plunk http://plnkr.co/edit/P2nauG launch the `preview in a separated window` and emulate an Android device (you should probably refresh the preview win

[2015-09-02 12:25] delta98 commented on #62
Thanks @adyba

What is the extra behaviour you are referring to? Is it the `platform-override`/`platform-android` class added to body?

More info here: https://github.com/delta98/ionic-material-design-lite#override-styles-for-both-platforms-iosandroid

[2015-09-02 12:25] #63 closed

[2015-09-02 13:15] adyba commented on #62
Once I have played with a Ionic starter I realized that that sometimes the standard web server started with `ionic serve` doesn't provide the full ripple effect (just standard CSS). Same window with Android emulation was OK. I haven't look through the CodePen in detail but there is a bunch of code in the JS pane that I suspected to be a reason why It works in plain web view.
As a Ionic developer I

[2015-09-02 13:32] adyba commented on #70
Nope you were right. With the cache it wasn't reliable, the behavior was dependent on the environment. Only after I switched the cache off completely it works as desired.

[2015-09-02 15:10] delta98 commented on #62
Thanks for your feedback, really important to the project. I'll now close this issue.

[2015-09-02 15:10] #62 closed

[2015-09-02 15:12] #64 closed

[2015-09-03 14:51] protasisimone commented on #62
Thanks for support but i don't understanding this.

For iOS, the ripple effect doesn't work? I've try on emulator and this effect doesn't work.

Solutions?

[2015-09-03 15:06] protasisimone commented on #62
Ok. I just made a trial run on iOs and Android smartphones.

Android does everything perfectly. Of IOS, only it works on `button icon` while the other buttons have no ripple effect.

I also confirm that Android runs the effect on the `nav-bar` in the `nav-buttons`, iOS does not.

I hope I have contributed a minimum to achieve the goals of this project.

Do you already have in mind how to solve uni

[2015-09-03 17:18] delta98 commented on #62
iOS **should not** by default be displayed as Material Design. To enable for both platforms you should read the following instructions https://github.com/delta98/ionic-material-design-lite#override-styles-for-both-platforms-iosandroid

[2015-09-04 01:28] FuzzyTree opened #73 "ionic run android command fails after install"
After running the `bower install ionic-material-design-lite`, the `ionic run android` command fails. I have verified this by creating several new projects and only being able to run the command successfully before installation.

<pre>
$ clear; ionic run android --stacktrace
Running command: ionic/returndb/hooks/after_prepare/010_add_platform_class.js ionic/returndb
Running command: ionic/returndb/

[2015-09-04 07:48] delta98 commented on #73
Thanks for taking the time to create the issue and provide a lot of detail. Really sorry you've had no success whilst testing on several projects.

It is a known issue, I'll update you shortly with a fix.

[2015-09-05 08:40] protasisimone commented on #62
@delta98 I had enabled the override for this test.
Those written above , are the results

[2015-09-06 14:44] khertan opened #74 "Licence ?"
There is none information about any licence. Your code is available under which licence ?

[2015-09-06 17:52] delta98 commented on #74
MIT License

Permission is hereby granted, free of charge, to any person obtaining
a copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished t

[2015-09-06 17:52] #74 closed

[2015-09-06 18:43] khertan commented on #74
Thanks

[2015-09-07 03:12] LeedleDev opened #75 "Platform Override Not Working"
![ios simulator screen shot sep 6 2015 11 11 30 pm](https://cloud.githubusercontent.com/assets/5975311/9708624/9f2f5bf8-54ec-11e5-85e1-7a84417b257c.png)

If you notice the header bar, platform overrides aren't working within the iOS simulator. It seems to work just fine on Safari when testing (and the Ionic Lab as well).

I have $ionicMaterialConfigProvider.enableForAllPlatforms(); in my .config f

[2015-09-07 03:13] LeedleDev commented on #75
The sidebar animation doesn't work, it just pops open non-smoothly. That's the biggest issue.

[2015-09-07 07:01] delta98 commented on #75
The side bar changes in Android as a pop over, so currently the animation isn't complete, which is why you are experiencing this on iOS.

If you are able to test on a physical device that would be really helpful as the simulator has a few problems of its own when allocating memory to webviews which affects performance.

[2015-09-10 08:16] delta98 commented on #73
@FuzzyTree having researched a lot into this issue, it's caused by incorrect file paths. Can you take a look and see whether `platforms/android/build/outputs/apk/android-debug-unaligned.apk` actually exists within your project?

I'm not able to replicate this issue locally.

[2015-09-12 12:36] helmuthva commented on #62
Hi,

seems that

          this.useMaterialIcons = true;
          this.useMaterialRipple = true;

is missing in this.enableForAllPlatforms = function () {...} to make the ripple effect work for all plattforms ..

[2015-09-16 00:08] LeedleDev commented on #75
Error still occurring in RC-1

[2015-09-16 06:25] delta98 commented on #75
You've not provided any information I requested , so I've not been able to replicate this.

[2015-09-17 14:32] LeedleDev commented on #75
My apologies, tested on a real device and the behavior remains the same. Steps to reproduce for me:

1) Start new side menu from ionic start sidemenu
2) Inject Ionic Material and IonIcons
3) Add the default override to config.
4) Run on iOS

Everything else is working but the side menu animation, it just appears open and close without a sliding animation.

[2015-09-17 14:37] LeedleDev commented on #75
Some more information after testing around a bit:

- It still occurs without the override in the config.
- It will go away if you remove the CSS file, the JS file does not have an effect.

[2015-09-18 08:10] delta98 commented on #75
Thanks for providing more information, I'll look into the animation. Maybe it's being over written in the of the mixins.

[2015-09-28 19:20] rbrandino1 opened #76 "ripple effects fire while scrolling"
I've noticed that material's ripple fires when I scroll up and down into list, which shouldn't happen.
So it seems to me that ionic-material-design-lite shouldn't fire ripples on the basic touchstart event.

[code]

[2015-09-28 23:17] jimmyho opened #77 "npm support?"
Any support for npm?  Particularly to be used for webpack?

[2015-09-29 15:11] delta98 commented on #77
What would you like to support? NPM is primarily used for JS?

[2015-09-29 15:12] delta98 commented on #76
Ripple uses the MDL library, when you scroll are you using a device/emulator or the browser? The browser can send off false events.

[2015-09-29 15:41] rbrandino1 commented on #76
I tested the browser and also on a real device, and the result was the same:
[see here!](https://drive.google.com/file/d/0ByJWb4e92g9_bkZwejRxVVVSa00/view?usp=sharing)
When beginning the scroll is already fired the ripple effect.

So this should work this way?
Why the scrolling of the Gmail (native), for example, it does not.

[2015-09-29 21:42] jimmyho commented on #77
I am using webpack, to load node modules (and ionic as well)

Just discovered a bower plugin, might try that first.

[2015-09-30 08:06] delta98 commented on #77
OK, yes there is already a bower plugin.

[2015-10-04 17:14] delta98 commented on #76
OK so taking a look at your video and attempted to re-create locally. It's caused by a long tap, the list rows are activated by touch. SO when you scroll you are in fact performing an initial touch event.

I'm not sure how this can be resolved or whether this is intended behaviour given it's a drag/scroll event within the browser. But doesn't appear to be an issue on the device. Least not that I'v

[2015-10-06 18:15] csvan opened #78 "Inclusion breaks standard iOS styling"
Currently, merely including this project (i.e. without enabling the platform override) causes iOS styling to break completely.

![brokencross](https://cloud.githubusercontent.com/assets/1127729/10317894/ed744a3a-6c66-11e5-89dc-f17ca3089f40.png)

[2015-10-06 19:58] delta98 commented on #78
Can you show a before and after for iOS. I can't see what you are saying in broken.

[2015-10-06 20:16] csvan commented on #78
Look at the input fields on iOS, background color is changed and label is
displaced. Will add a before image when I get back.

On Tue, 6 Oct 2015 21:58 Jason Brown <notifications@github.com> wrote:

--
Best,

Christopher Svanefalk

Web: http://www.csvanefalk.com
GitHub: https://github.com/csvan
LinkedIn: https://www.linkedin.com/in/csvanefalk
Cell: +46762628251
Skype: csvanefalk

[2015-10-06 20:55] csvan commented on #78
Here goes.
![goodcross](https://cloud.githubusercontent.com/assets/1127729/10322290/60d6b114-6c7d-11e5-83e4-a22fe89c4e65.png)

[2015-10-06 21:02] csvan opened #79 "input[text]: label does not float on iOS"
See attached screenshot, the relevant element is this:

[code]

EDIT: This also affects the blue underline effect on the input element, and other animations.

![nofloat](https://cloud.githubusercontent.com/assets/1127729/10322522/5c74aa58-6c7e-11e5-800e-07548968b3ea.png)

[2015-10-06 21:15] csvan commented on #79
I looked at the computed styles at runtime, and it seems that the `is-dirty` class never gets applied to the label on iOS. I am not familiar enough with the internals of ionic-mdl yet, but will post here if I find anything.

[2015-10-06 21:56] csvan commented on #79
Alright, here is what happens. The relevant code is here:

https://github.com/delta98/ionic-material-design-lite/blob/1c88bbcb8a5ca6613d265c467b2c5ae1042f9b77/js/directive/input.js#L15-L22

The blur event never fires on iOS for some reason. This thread on SO may provide some clues:

http://stackoverflow.com/questions/24854032/angularjs-binding-element-to-blur-not-triggered

[2015-10-07 08:28] csvan commented on #79
@delta98 well if I only I had paid more attention to the code...the problem is in this line:

https://github.com/delta98/ionic-material-design-lite/blob/1c88bbcb8a5ca6613d265c467b2c5ae1042f9b77/js/directive/input.js#L2

You are listing $ionicPlatform and $ionicMaterialConfig as injectables, but only one parameter for the closure. This parameter gets bound to $ionicPlatform instead of $ionicMateria

[2015-10-07 08:35] csvan commented on #79
https://github.com/delta98/ionic-material-design-lite/pull/80

[2015-10-10 09:55] #79 closed

[2015-10-10 09:56] delta98 commented on #79
Sorry for not being active on this thread, I've reviewed and merged the code. Platform overriding is still in it's infancy as the focus as been on Android.

[2015-10-16 10:27] MoPHL opened #81 "Question: Installation process not clear"
Hi,

I've been trying to integrate ionic-material-design-lite in my current ionic project, but have not, so far, been 100% successful.
I ran bower install ionic-material-design-lite and pasted the following lines below the ionic imports (when I pasted them above I got errors about angular not being defined, so I assume this is the correct way):

    <link href="/lib/ionic-material-design-lite/dist

[2015-10-17 09:00] delta98 commented on #81
Looks like an issue with `$ionicMaterialConfigProvider` do you have the full stack trace?

[2015-10-19 10:54] MoPHL commented on #81
I was able to get it working, it was some kind of conflict with the native transitions plugin it seems, after removing that plugin, $ionicMaterialConfigProvider didn't throw any errors and after rearranging the import order I didn't get any more issues. Don't know what caused this, also that was the full extent of the error log that I was shown.

I then noticed another thing, if I run my app with

[2015-10-19 14:33] MoPHL commented on #79
I'm still experiencing this issue, on iOS with the following markup

       <label id="email" class="item item-input item-stacked-label  input-light">
          <span class="input-label" style="color:white;-webkit-input-placeholder:white;">Email</span>
          <input type="email" ng-model="data.email" required>
        </label>

the label stays on top of the user inserted text. Works as expected

[2015-10-20 14:42] shprink commented on #77
`npm install delta98/ionic-material-design-lite` should work @jimmyho

[2015-10-26 22:26] Squix commented on #14
Could you please explain a little bit more how to make lists with ionic materail design lite ? Because I tried ion-list and this doesn't work, ther's no styling on my list :(

[2015-10-27 08:32] delta98 commented on #14
Can you provide your markup as you should use the standard Ionic markup

[2015-10-27 09:02] Squix commented on #14
Here' is it :

<ion-list>
        <ion-item collection-repeat="contact in contacts">
          {{contact.displayName}}
        </ion-item>
 </ion-list>

[2015-10-27 09:56] Squix commented on #14
Yes here it is :
[code]

[2015-10-27 12:00] vamshi4001 opened #82 "Unable to get tabs inside a ion-tab content"
Hi,

I am trying to have nested tabs, like 'Explore' and 'Purchase' as top level tabs
and 3 names 'ionic','material','design' as 3 tabs inside 'Purchase' tab.
But I am unable to get the tabs properly rendered - They are going behind the top level tabs or coming below leaving some margin. Tried fixing by removing classes or changing css, but felt that it should have been handled in a better way by

[2015-10-27 21:31] jksoftpro opened #83 "gulp bundle task - wrong path to material.js"
gulp bundle task references to material.js in dist directory while this file is present in ./bower_components/material-design-lite root directory:

[code]

Here is the gulp task:

[code]

I use git version of ionic-material-design-lite project.

[2015-10-29 23:26] Squix commented on #14
Might made a new issue ?

[2015-10-31 10:48] delta98 commented on #14
Does it style correctly when you don't use MDL library?

[2015-10-31 10:50] delta98 commented on #83
I'll review, it's possible the latest update for MDL has removed it from the dist directory, could you create a PR?

[2015-11-01 11:25] Squix commented on #14
Yes, everything works fine when not using MDL library.

[2015-11-29 18:45] FuzzyTree commented on #73
Sorry for the late reply, I just had the chance to try it again with the latest RC1 and the issue has been fixed as I am able to run the kitchen sink on my phone now. In case you're wondering, the apk file did exist on the old version when the android build failed.

[2015-11-29 18:45] #73 closed

[2015-12-10 03:25] trainerbill opened #84 "Ionic 1.1.1 compatible?"
I am new to ionic but not angular.  Is this compatible with Ionic 1.1.1 start application?  I have spent hours trying to get this theme working.  I added the JS and CSS and added $ionicMaterialConfigProvider.enableForAllPlatforms().  There are no console errors but the theme is still the default from Ionic starter app.  Any suggestions?

[2015-12-11 18:48] delta98 commented on #84
It should be compatible, have you looked at whether the body has override class present?

[2015-12-13 17:54] trainerbill commented on #84
@delta98 Yeah I am pretty sure, but there are a lot of different examples showing different ways of initializing:

[code]

Does anyone have a tutorial of getting this to work from the last step of the ionic application starter build?

I have the .css and .js files but do not see the material design.

[2015-12-13 21:51] joaogabriel commented on #65
Any update about this?

[2015-12-15 12:49] delta98 commented on #65
The HTML wasn't structured correctly, take a look at the examples in the repo. It demonstrates the correct HTML structure.

[2015-12-15 12:49] delta98 commented on #84
Take a look at https://github.com/IonicMaterialDesign/ionic-material-starter

[2015-12-18 12:34] FLGGithubDeveloper commented on #73
Hello @FuzzyTree

What latest version you used to correct this? Ionic, cordova, node.js..?

[2015-12-18 21:31] FuzzyTree commented on #73
@FLGGithubDeveloper

It works for me using these

Ionic 1.1.1
Cordova 5.4.1
Node 0.12.7

And I'm using the JS/CSS from the nightly on rawgithub

[2015-12-26 13:36] #84 closed

[2015-12-26 13:36] #83 closed

[2016-01-06 12:54] gopalakrishnan-subramani opened #85 "Ping: Is development in progress"
Great work, wanted to check do you have plan to maintain this repository or recommend alternative one? wanted to use in my project.

[2016-01-21 23:30] tesnep opened #89 "Two Nav bar issues."
Nav Bar title automatically sets from a previous view, back button displays the text' back' automatically and text and icon class of a button gets overlapped.

[2016-01-22 12:10] delta98 commented on #89
Can you provide more information, an example and screenshots?

[2016-01-22 12:11] delta98 commented on #85
Hi, currently working across the new ionic 2 project and their implementation of Material Design. Do you have a particular issues you need resolving?

[2016-01-24 23:39] tesnep opened #90 "Form input floating label issue in ios"
This is based on the forms.html in the demo. Look at the image on the left for ios. The text is floating is overlapping the floating label.

![label](https://cloud.githubusercontent.com/assets/1436681/12539867/a874dca2-c34f-11e5-8d48-6316a780a3bc.PNG)

[2016-01-24 23:44] tesnep commented on #89
Here's the second issue:

![navbar_button](https://cloud.githubusercontent.com/assets/1436681/12539878/26e294c6-c350-11e5-92e0-862221bdd8e5.PNG)

Here's the first issue:

![back_button](https://cloud.githubusercontent.com/assets/1436681/12539895/9393059c-c350-11e5-90fc-336f7b61e796.PNG)

This is the code for both:
[code]

[2016-01-25 00:11] devlinpadayachee opened #91 "Does Not work as expected on IOS"
This lib doesnt work when emulating on IOS through ionic serve --lab
Android works perfectly;

Ive added $ionicMaterialConfigProvider.enableForAllPlatforms(); but the styling on IOS seems to break for inputs.

BR

[2016-01-25 00:30] tesnep commented on #89
I found a fix for both..
[code]

[2016-01-25 00:30] #89 closed

[2016-01-25 00:31] tesnep commented on #91
Is this the same as https://github.com/delta98/ionic-material-design-lite/issues/90?

[2016-01-25 15:58] devlinpadayachee commented on #91
Hi

Yesthis is the same issue

BR

On Mon, Jan 25, 2016 at 2:31 AM, Tejaswi Rana <notifications@github.com>
wrote:

[2016-01-25 15:59] devlinpadayachee commented on #90
Hi Im having the same issue ; works on Android fails on IOS

[2016-01-25 17:04] devlinpadayachee commented on #90
Please let me know if you have any luck fixing this pretty much ruins the library for 50% of the devies out there so should be fixed quite fast

[2016-01-25 17:36] devlinpadayachee commented on #78
Seems to be a recurring issue ; there also dont seem to be any active developers attending to these issues; really dissapointing ; not supporting IOS is a major set back when developing hybrid apps

[2016-01-25 17:37] devlinpadayachee commented on #78
Is this the same as #90?

[2016-01-25 22:09] tesnep commented on #90
Wow that ticket was created on 22nd of Oct 2015. Not good.

[2016-01-25 22:45] devlinpadayachee commented on #90
@tesnep Yes Pretty much my point of developers not taking an interest

[2016-01-27 03:01] gopalakrishnan-subramani commented on #85
@delta98, Wanted to use in my project  I started 3 weeks back, since the repository was not updated for few months, had question. Thanks. I shall use material design in my project.

[2016-01-27 03:01] #85 closed

[2016-02-09 06:52] devlinpadayachee commented on #90
Still no response from these guys its so useless to have a framework that doesnt not work

[2016-02-09 06:54] devlinpadayachee commented on #78
Absolutely Useless

[2016-02-09 16:03] delta98 commented on #78
@devlinpadayachee  maybe you could provide further details to your problem? Or get involved in the project? It's an OSS project, feel free to contribute.

[2016-02-09 16:04] delta98 commented on #90
Can you both provide code examples? Have you used the examples?

[2016-02-09 16:05] delta98 commented on #82
@vamshi4001 Is nested tabs supported by Ionic?

[2016-02-09 16:16] csvan commented on #78
@devlinpadayachee you could quit bitching and start working on a PR instead. This is not a paid project.

[2016-02-10 23:11] tesnep commented on #90
Here's the code. I haven't changed any css.

`<ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-log-out" ng-show="authenticated" ng-click="logout()"></button>
        </ion-nav-buttons>
            <ion-nav-back-button class="button-clear no-text">
                <i class="icon ion-ios-arrow-left"></i>
            </ion-nav

[2016-02-15 09:19] delta98 commented on #90
could you provide it in a plunkr?

[2016-02-29 15:13] ahmedrshdy commented on #73
I am experiencing this issue, would you please let me know what the problem is about?

[2016-03-02 07:09] bpalmen opened #93 "Needs license declaration/file"
Although there is some indication that this theme is 'Free' I don't see a copyright notice or license file. Would really like to use this but can't unless it's under a permissive license like MIT/BSD/Apache.

[2016-03-02 18:32] delta98 commented on #93
If you could create a PR with an MIT licence, I'd be happy to accept it.

[2016-04-08 13:05] Jbelmonte commented on #49
I'm experiencing the same error when working with `ionTabs` and `ionTab` components.
Underlying `up` and `down` handlers are crashing because `this.rippleElement_` is `null`.

**Up handler**

[code]

Associated code in Material Design Lite source:

[code]

**Down handler**

[code]

Associated code in Material Design Lite source:

[code]

**Fix**

This could be fixed in `tabs.js` by adding the foll

[2016-04-22 01:44] diegorquera commented on #91
Hi,
I found the error, in line
  directive('input', ['$ionicPlatform', '$ionicMaterialConfig', function ($ionicMaterialConfig)
change for
  directive('input', ['$ionicPlatform', '$ionicMaterialConfig', function ($ionicPlatform, $ionicMaterialConfig)

[2016-04-22 14:42] jjaybrown commented on #91
@dieg0rquera could you create a PR?

[2016-04-29 20:54] degandhi024 commented on #73
I received the same issue while building a small one screen project. So I figured to dig more and research the cause. This happens due to large libraries or bower components. I was using material design icons. the size of that component was more than 350MB. I removed all the additional files from the component and left it with SVGs and vola!

[2016-05-25 22:02] BioPhoton opened #94 "Update to latest ionic version in bower json dependencies"
Hi, thx for keeping this alive!!!

Could you please update the bower dependencies to latest ionic version??

[2016-10-08 18:21] ahayder commented on #73
My problem is exactly same as @degandhi024 "Material Design Icon" is the culprit.

[2017-01-07 03:41] anneb commented on #73
same problem, cordova version 6.4.0.
If the webapp contains node-modules (or bower-components) with material-design-icons, this is apparently too much for the compiler. Work-around: delete everything in node-modules/material-design-icons except node-modules/material-design-icons/iconfont

[2017-02-14 04:16] KenrySanchez opened #95 "bar bar-header bar-assertive-900 does not work in ion-header-bar"
Hi.

i'm start to use ionic-material-design for make more dinamic and live my ionic app..

but, when i tried to use a color like bar-assertive-900 in the ion-header-bar, it does not get the color..

i was reading the readme.md and i dont use gulp styles for create the styles 'cause i dont found the gulpfile.js for material-desing!!

Please can you help me with this issue???

[2017-02-15 15:04] #95 closed, assigned to nobody

[2017-09-29 15:58] lshekhar commented on #73
@anneb  You saved my day. It worked

[2018-06-13 06:01] prymoDevelop opened #100 "error"
when i run $ ionic serve --lab
i get this message

[ERROR] Sorry! ionic serve can only be run in an Ionic project directory.